* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Helvetica, Sans-Serif;
}

/* Global Uses Start */
#why-us,
#testimonial,
#faq,
footer,
.banner {
  width: 80%;
  margin: 0 auto;
  margin-bottom: 100px;
}

.title {
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
}

.paragraph {
  font-size: 14px;
  line-height: 20px;
  font-weight: 300;
}
/* Global Uses end */

/* Header Section Style Start */
header {
  margin: 24px auto;
  width: 80%;
}

.header_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 100px;
  height: 34px;
}

nav {
  display: flex;
  gap: 32px;
  align-items: center;
}

nav > a {
  text-decoration: none;
  color: #000000;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
}

.green-box {
  background-color: #5cb85f;
  color: white;
  padding: 8px 12px;
  border-radius: 2px;
  font-weight: 700;
}

/* Header Section Style End */

/* Main Section Style Start */
.hero-section {
  margin-left: 10%;
  display: flex;
  align-items: center;
}

.hero-section p {
  width: 80%;
}

.row {
  gap: 32px;
}

.feature {
  border: 1px solid #d0d0d0;
  border-radius: 8px;
  padding: 24px;
}

.feature-icon {
  font-size: 20px;
  color: white;
  width: 32px;
  height: 32px;
  border-radius: 100%;
}

.feature-title {
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
}

.banner {
  background-color: #0d28a6;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  justify-content: center;
  color: white;
  border-radius: 13px;
  height: 326px;
  text-align: center;
}

.banner-title {
  font-size: 36px;
  line-height: 54px;
  font-weight: 700;
}

.banner-paragraph {
  width: 60%;
  margin: 0 auto;
  font-weight: 300;
  font-size: 14px;
}

.banner-button {
  background-color: #5cb85f;
  text-decoration: none;
  color: white;
  padding: 8px 12px 8px 12px;
  border-radius: 2px;
  font-weight: 700;
}

#faq {
  display: flex;
  justify-content: space-between;
}

/* Main Section Style End */

/* Footer Section Style Start */
footer {
  display: flex;
  justify-content: space-between;
}

.footer-navigation {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.footer-navigation > a {
  text-decoration: none;
  color: black;
  font-weight: 400;
}

.sosmed {
  display: flex;
  gap: 16px;
}

.sosmed > a {
  background-color: #0d28a6;
  color: white;
  border-radius: 100%;
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  font-size: 20px;
}

/* Footer Section Style End */
